body {
	background-color: #2c074f;
	color: #efeafc;
	font-family: sans-serif;
	font-size: 20px;
}
.wrapper {
	max-width: 45em;
	width: 90%;
	margin: 0 auto;
}
a:link {
	color: #f756c1;
}
a:visited {
	color: #f756c1;
}
@media screen and (min-width: 1920px) {
	body {
		font-size: 1vw;
	}
}
