body {
	-webkit-text-size-adjust: 100%;
	background-color: #260033;
	color: #f9e6ff;
	font-family: sans-serif;
	font-size: 20px;
}
.wrapper {
	max-width: 45em;
	width: 90%;
	margin: 0 auto;
}
.problemLinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	font-size: 1.1em;
}
a:link {
	color: #f756c1;
}
a:visited {
	color: #f756c1;
}
@media screen and (min-width: 1920px) {
	body {
		font-size: 1.0416666666vw;
	}
}
@media screen and (max-width: 720px) {
	body {
		font-size: 18px;
	}
}
